#brand {
  color: rgb(204, 6, 6);
  font-family: 'Space Mono', monospace;
}

#picture {
  width: 100%;
  height: auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

header {
  z-index: 6;
}

body {
  background-color: black;
}